
.container{
    align-items: center;
}
.navbar{
    padding: 40px 300px 10px 300px;
}
.navbar a{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}
.navbar button{
  background-color: black;
}
.navbar button strong{
  color: white;
}
.navbar button strong:hover{
  color: black;
}
.navbar button:hover{
  color: white;
  border: 2px solid black;
}

/*LIST ITEMS*/
.list-item-div{
    padding: 40px 320px;
}
.list-item-div h3{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.597);
}
.list-group-item{
    display: flex;
    justify-content: space-between;
}
.counter{
    display: flex; 
}
#decrement,
#increment{
    margin: 15px 5px 1px 5px;
   
}
#decrement:hover,
#increment:hover{
    cursor: pointer;
    color: gray;
}
.counter p{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

/*MODAL*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 10; /* Ensure it covers the whole screen */
}
.pop-up{
    background-color: beige;
    padding: 40px 20px;
    border-radius: 20px;
    padding: 40px 320px;

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 20; /* Above the overlay */
}
.pop-up span{
    margin-bottom: 5px;
}
.pop-up h3{
    font-weight: bold;
}
.pop-up span{
    display: flex;
    justify-content: space-between;
}
.pop-up form{
    display: flex;
    justify-content: left;
}
#close-popup{
    margin-top: 15px;
}
#close-popup:hover{
    cursor: pointer;
    color: gray;
}
.pop-up button{
   margin-right: 5px;
   margin-top: 15px;
   float: right;
   margin-bottom: 15px;
}