
.navbar{
    padding: 40px 300px 10px 300px;
}
.navbar a{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}
.navbar button{
  background-color: black;
}
.navbar button strong{
  color: white;
}
.navbar button strong:hover{
  color: black;
}
.navbar button:hover{
  color: white;
  border: 2px solid black;
}

/*LIST ITEMS*/
.list-item-div{
    padding: 40px 300px;
}
.list-group-item{
    display: flex;
}
.counter{
    display: flex;
    justify-content: right;
}